.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1.5rem 3rem;
  height: 15vh;
  background-color: #ffffff33;
}

.brand-container {
  display: flex;
  align-items: center;
}

.emoji-game-brand-img {
  height: 4rem;
  width: 4rem;
}

.navbar-text {
  font-size: 2rem;
  color: #ffffff;
  margin-right: 1.5rem;
  font-weight: 550;
}

.score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-text {
  font-weight: 400;
}
